= form_for [@article, @article.comments.new], remote: true do |f|
  %p
    = f.label :commenter, "Your name"
    %br/
    = f.text_field :commenter
  %p
    = f.label :body, "Your thoughts"
    %br/
    = f.text_area :body
  %p
    = f.submit "Post Comment"
