%h2.title
  = link_to_unless_current article.title, article

%p.date
  = time_tag(@article.created_at)

%p.body
  = markdown article.text

%p.tags
  = @article.tags.map { |t| t.name }.join(", ")

%br/

- if user_signed_in?
  = link_to 'Edit', edit_article_path(@article)
  |
  = link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }
  |
  = link_to 'Back', articles_path