= content_for(:title, "Good Vibes")
%div#body
  %div.row
    %div.col-md-8
      %h1.text-center
        BLOG

      - @articles.each do |article|
        %article.article_wrapper

          %h2.title= link_to article.title, article_with_title_path(article, :title => article.title)

          %br/

          %p
            %span.date= article.created_at.strftime("%B %d, %Y")
            - if article.tags.any?
              in
              - article.tags.each do |tag|
                %span.tag
                  = link_to tag.name, tag_path(tag)

          %p
          - if article.image?
            %img= image_tag(article.image_url, :class => "img-responsive") 

          %br/

          %p= truncate( markdown(article.text), length: 300, :omission => "...", :escape => false)

          %div.row
            %div.group1.col-sm-6.col-md-6
              %i.fa.fa-play= link_to 'More', article_path(article)
            %div.group2.col-sm-6.col-md-6
              %i.fa.fa-pencil= link_to 'Edit', edit_article_path(article)
              %i.fa.fa-trash= link_to 'Destroy', article_path(article),  |
                                      method: :delete,                   |
                                      data: { confirm: 'Are you sure?' } |

    %div.col-md-4
      %div.panel
        %div.panel-heading
          %h4 Latest Posts
        %ul.list-group
          - @articles.each do |article|
            %li.list-group-item
              = link_to article.title, article_with_title_path(article, :title => article.title)
      %div.panel
        %div.panel-heading
          %h4 Categories
        %ul.list-group
          - Tag.all.to_a.each do |t|
            %li.list-group-item
              = link_to t.name, tag_path(t)
          
      %div.panel
        %div.panel-heading
          %h4 Recent Comments
        %ul.list-group
          %li.list-group-item
            %a{:href => "#"} I don't believe in astrology but still your writing style is really great! - 
            %em john
          %li.list-group-item
            %a{:href => "#"} Wow.. what you said is really true! I'm an aries though - 
            %em Anto
          %li.list-group-item
            %a{:href => "#"} Does capricorn and aries is compatibile? -
            %em Sarah
          %li.list-group-item
            %a{:href => "#"} I'm a cancer woman been in love with Leo. Will this work?
            %em Mary
