!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">
%p#notice= notice

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Untitled"

  = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  = stylesheet_link_tag "application", "http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tags

%body{"data-no-turbolink" => ""}

  %div.sidebar-nav{:role => "banner"}
    %div.navbar-header
      %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".sidebar-navbar-collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %div#logo
        = link_to root_path do
          = image_tag "vibe_beyonce.png", :class => "img-responsive"
    %div.navbar-collapse.collapse.sidebar-navbar-collapse{:role => "navigation"}

      %ul.nav.navbar-nav
        %li.category #LABASED
        %li= link_to "MAIN", root_path
        %li= link_to "ABOUT", about_path
        %li= link_to "CONTACT", contact_path


        %li.category MY VIBES
        %li= link_to "TWITTER", "https://twitter.com/rozalghul"
        %li= link_to "INSTAGRAM", "https://instagram.com/rozalghul/"
        %li= link_to "EMAIL", "mailto:rosariee.ku@gmail.com"


  %div#main_content
    - if user_signed_in?
      %div#header
        %div.buttons
          %button.button= link_to "New Post", new_article_path
          %button.button= link_to "Log Out", destroy_user_session_path, :method => :delete
    - else
      %div.sign_in
        = link_to new_user_session_path do
          = content_tag(:i, "", :class => "fa fa-circle-o-notch")

    - flash.each do |name, msg|
      = content_tag(:div, msg, class: "alert")
    
    = yield

  = render 'layouts/footer'

  = javascript_include_tag "application", "data-turbolinks-track" => true
